<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Movies
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-card *ngFor="let m of movies">
      <ion-item>
        <ion-icon name="videocam" slot="start"></ion-icon>
        <ion-label>{{m.name}}</ion-label>
        
        <ion-button color="primary" (click)="editMovie(m)" ><ion-icon name="create" ></ion-icon></ion-button>
        <ion-button color="danger" (click)="deleteMovie(m)"><ion-icon name="trash"  ></ion-icon></ion-button>
      </ion-item>
    
      <ion-card-content>
        

        <ion-img src="{{m.image_url}}"> 
        </ion-img>
        <ion-item>
        <ion-label>Year of Release</ion-label>
        {{m.year}}<br/>
      </ion-item>
        <ion-icon name="home" slot="start"></ion-icon>
        {{m.production_house}}<br/>
        <ion-icon name="phone-portrait" slot="start"></ion-icon>
        {{m.rating}}<br/>
        <ion-icon name="phone-portrait" slot="start"></ion-icon>
        {{m.type}}<br/>
        <ion-icon name="phone-portrait" slot="start"></ion-icon>
        {{m.language}}<br/>
      </ion-card-content>
    </ion-card>
    </ion-content>